.thanks__content {
    margin: 200px 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    position: relative;
}

.absolute {
    position: absolute;
    z-index: -10;
    display: inline-block;
    white-space: nowrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 220px;
    color: rgba(248, 248, 248, 0.80);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    font-size: 22px;
    color: #8B7C68;
}

.form {
    margin: 0 auto;
    text-align: center;
}

.form__button-submit {
    padding: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #82766A;
    color: #fff;
    cursor: pointer;
}